---
import Head from "../../../sisipan/head.astro";
import data from "../../../wiki/andro-docs/tiddlers/published.json";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andro Docs</title>
  </head>
  <body>
    <div class="hero h-[350px] bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Andro Docs</h1>
          <p class="py-6">Kumpulan API Andro</p>
        </div>
      </div>
    </div>
  </body>
</html>
