---
import Head from "../../../sisipan/head.astro";
import data from "../../../wiki/belajar-excel/tiddlers/published.json";
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Excel</title>
  </head>
  <body>
    <div class="p-10">
      <h1 class="text-6xl font-bold leading-[1.5] mb-5">Belajar Excel</h1>
      {
        data
          .sort((a, b) => (a.title > b.title ? 1 : -1))
          .map((x) => (
            <a
              href={`/aplikasi/belajar-excel/baca/${x.published_date}`}
              class="btn mr-3 mb-3"
            >
              {x.title.split(". ")[1]}
            </a>
          ))
      }
    </div>
  </body>
</html>
